# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
]

line-length = 200
indent-width = 4

# Assume Python 3.13
target-version = "py313"

[lint]
select = [
    "ARG",
    "B",
    "B",
    "C",
    "C4",
    "D",
    "DTZ",
    "E",
    "ERA",
    "EXE",
    "F",
    "FLY",
    "FURB",
    "I",
    "ISC",
    "LOG",
    "N",
    "PIE",
    "PT",
    "PTH",
    "PYI",
    "RET",
    "RUF",
    "S",
    "SIM",
    "T20",
    "TID",
    "TRY",
    "UP",
    "W",
    "YTT",
    "ANN",
    "ASYNC",
    "FA",
    "G",
    "PLE",
    "PLW",
    "PLC",
    "INP",
    "RSE",
    "TCH"
    ]
ignore = [
    "EXE001",
    "D1",
    "D203",
    "D212",
    "D400",
    "D401",
    "D415",
    "B008",
    "ARG002",
    "I001",
    "RUF001",
    "RUF022",
    "RUF012",
    "PTH123",
    "T201",
    "TID252",
    "E722",
    "E701",
    "ERA001",
    "DTZ005",
    "S311",
    "S101",
    "S110",
    "TRY002",
    "TRY003",
    "TRY300",
    "TRY301",
    "TRY401",
    "RET504",
    "UP006",
    "UP007",
    "UP035",
    "UP045",
    "PT011",
    "PT028",
    "N812",
    "B017",
    "TC006",
    "INP001",
    "ANN204",
    "ANN401",
    "TC001",
    "TC002",
    "TC003",
    "RSE102"
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

# Set maximum allowed complexity for functions
mccabe.max-complexity = 15

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"

[lint.flake8-annotations]
ignore-fully-untyped = true
allow-star-arg-any = true
mypy-init-return = true
suppress-dummy-args = true
suppress-none-returning = true
